body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
    background-color: #121212;
      /* Detta bestämmer hur bakrunden på hemsidan ska se ut */
  }

h2 {
    float: left;
    color: white;
    margin: 0;
    padding: 16px;
}

nav ul {
    list-style-type: none;
    color: #ffffff;
    text-align: right;
    width: 100%;
    margin: 0;
    padding: 16px;
    background-color: #202222;
    margin-bottom: 100px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
    color: inherit;
}
     
main {
    display: flex;
}
      
.left, .right {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.left {
    margin: auto;
    text-align: left;
}

h1 {
    font-family: sans-serif;
    width: 50%;
    padding-left: 50%;
    color: #d6d6d6;
}

p {
    font-family: sans-serif;
    width: 50%;
    padding-left: 50%;
    color: #bebebe;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 3px solid black;
    border-radius: 50%;
}

footer {
    background-color: #202222;
    text-align: center;
    padding: 15px;
    margin-top: 100px;
    color: white;
}

.Quick-links { /* Genvägar/Länkar i footer */
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 20px;
    color: #dddddd;
}

.Social-links { /* Genvägar/Länkar i footer */
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 20px;
    color: #dddddd;
}

